<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDM Predictions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    body{
		background-color: #474b4f;
	}
	.contact{
		padding: 4%;
		height: 400px;
	}
	.col-md-3{
		background: #c3073f;
		padding: 4%;
		border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        color: white;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}
</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <a class="nav-item nav-link" href="{% url 'diabindex' %}">Diabetes</a>
      <a class="nav-item nav-link" href="{% url 'liverindex' %}">Liver</a>
      <a class="nav-item nav-link" href="{% url 'churnindex' %}">Churn</a>
      <a class="nav-item nav-link" href="{% url 'recindex' %}">Recommendation</a>
      <a class="nav-item nav-link" href="{% url 'callindex' %}">CallPrediction</a>
      <a class="nav-item nav-link" href="{% url 'fraudindex' %}">FraudAnalytics</a>
    </div>
</nav>
    <div class="container contact">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <h2>Fraud Analytics</h2>
                    <h4>Test out our Fraud Analytics model</h4>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="alert alert-success" role="alert">
                        {{a}}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                    <div class="form-group">
                        <div class="form">
                            <form action="/fpredict" method="POST">
                              {% csrf_token %}
                              <div class="container">
                              <label class="control-label " >AMT_GOODS_PRICE: <input type="text" name="AMT_GOODS_PRICEVal" id="AMT_GOODS_PRICEVal" value={{temp.AMT_GOODS_PRICEVal}}></label>
                              </div>

                              <div class="container">
                                <label class="control-label " >REGION_POPULATION_RELATIVE: <input type="text" name="REGION_POPULATION_RELATIVEVal" id="REGION_POPULATION_RELATIVEVal" value={{temp.REGION_POPULATION_RELATIVEVal}}> </label>   
                            </div>

                              <div class="container">
                                <label class="control-label " >DAYS_EMPLOYED: <input type="text" name="DAYS_EMPLOYEDVal" id="DAYS_EMPLOYEDVal" value={{temp.DAYS_EMPLOYEDVal}}></label>
                                </div>

                              <div class="container">
                                <label class="control-label " >FLAG_EMP_PHONE: <input type="text" name="FLAG_EMP_PHONEVal" id="FLAG_EMP_PHONEVal" value={{temp.FLAG_EMP_PHONEVal}}></label>
                                </div>

                              <div class="container">
                                <label class="control-label " >REGION_RATING_CLIENT:  <input type="text" name="REGION_RATING_CLIENTVal" id="REGION_RATING_CLIENTVal" value={{temp.REGION_RATING_CLIENTVal}}></label>
                                </div>

                              <div class="container">
                                <label class="control-label " >REGION_RATING_CLIENT_W_CITY:  <input type="text" name="REGION_RATING_CLIENT_W_CITYVal" id="REGION_RATING_CLIENT_W_CITYVal" value={{temp.REGION_RATING_CLIENT_W_CITYVal}}></label>
                                </div>

                              <div class="container">
                                <label class="control-label " >REG_CITY_NOT_LIVE_CITY:   <input type="text" name="REG_CITY_NOT_LIVE_CITYVal" id="REG_CITY_NOT_LIVE_CITYVal" value={{temp.REG_CITY_NOT_LIVE_CITYVal}}></label>
                                </div>

                              <div class="container">
                                <label class="control-label " >REG_CITY_NOT_WORK_CITY: <input type="text" name="REG_CITY_NOT_WORK_CITYVal" id="REG_CITY_NOT_WORK_CITYVal" value={{temp.REG_CITY_NOT_WORK_CITYVal}}></label>
                             </div>

                              <div class="container">
                                <label class="control-label " >EXT_SOURCE_1: <input type="text" name="EXT_SOURCE_1Val" id="EXT_SOURCE_1Val" value={{temp.EXT_SOURCE_1Val}}></label>
                              </div>

                              <div class="container">
                                <label class="control-label " >EXT_SOURCE_2:  <input type="text" name="EXT_SOURCE_2Val" id="EXT_SOURCE_2Val" value={{temp.EXT_SOURCE_2Val}}>
                                </label>
                              </div>
                              <div class="container">
                                <label class="control-label " >EXT_SOURCE_3:   <input type="text" name="EXT_SOURCE_3Val" id="EXT_SOURCE_3Val" value={{temp.EXT_SOURCE_3Val}}></label>
                                </div>

                              <div class="container">
                                <label class="control-label " >FLOORSMAX_AVG: <input type="text" name="FLOORSMAX_AVGVal" id="FLOORSMAX_AVGVal" value={{temp.FLOORSMAX_AVGVal}}></label>
                             </div>

                              <div class="container">
                                <label class="control-label " >FLOORSMAX_MODE: <input type="text" name="FLOORSMAX_MODEVal" id="FLOORSMAX_MODEVal" value={{temp.FLOORSMAX_MODEVal}}></label>
                              </div>
                              <div class="container">
                                <label class="control-label " >FLOORSMAX_MEDI:   <input type="text" name="FLOORSMAX_MEDIVal" id="FLOORSMAX_MEDIVal" value={{temp.FLOORSMAX_MEDIVal}}></label>
                                </div>
            <h6 >FLAG_DOCUMENT_3</h6> 
            <select name="FLAG_DOCUMENT_3Val" id="FLAG_DOCUMENT_3Val">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >CODE_GENDER_M</h6> 
            <select name="CODE_GENDER_MVal" id="CODE_GENDER_MVal">
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
            <h6 >Pensioner</h6> 
            <select name="PensionerVal" id="PensionerVal">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Working</h6> 
            <select name="WorkingVal" id="WorkingVal">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Higher_education</h6> 
            <select name="Higher_educationVal" id="Higher_educationVal">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >secondary_special</h6> 
            <select name="secondary_specialVal" id="secondary_specialVal">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <br>
            <br>
                              <div class="container" style="align-items: center;"><input type="submit" value="Predict"></div>
                                
                    </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
