<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDM Predictions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    body{
		background-color: #474b4f;
	}
	.contact{
		padding: 4%;
		height: 400px;
	}
	.col-md-3{
		background: #c3073f;
		padding: 4%;
		border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        color: white;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}
</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <a class="nav-item nav-link" href="{% url 'diabindex' %}">Diabetes</a>
      <a class="nav-item nav-link" href="{% url 'liverindex' %}">Liver</a>
      <a class="nav-item nav-link" href="{% url 'churnindex' %}">Churn</a>
      <a class="nav-item nav-link" href="{% url 'recindex' %}">Recommendation</a>
      <a class="nav-item nav-link" href="{% url 'callindex' %}">CallPrediction</a>
      <a class="nav-item nav-link" href="{% url 'fraudindex' %}">FraudAnalytics</a>
    </div>
</nav>
    <div class="container contact">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <h2>HR Analytics</h2>
                    <h4>Test out our Fraud Analytics model</h4>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="alert alert-success" role="alert">
                        {{a}}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                    <div class="form-group">
                        <div class="form">
                            <form action="/hpredict" method="POST">
                              {% csrf_token %}
                              <div class="container">
                <br>
                <div class="container">
                    <label class="control-label " >Satisfaction: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="Satisfaction" id="Satisfaction" value={{temp.Satisfaction}}> </label>   
                </div>
                <br>
                <div class="container">
                    <label class="control-label " >Evaluation: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="Evaluation" id="Evaluation" value={{temp.Evaluation}}></label>
                    </div>
                    <br>
                <div class="container">
                    <label class="control-label " >ProjectCount: <input type="text" name="ProjectCount" id="ProjectCount" value={{temp.ProjectCount}}></label>
                    </div>
                    <br>
                <div class="container">
                    <label class="control-label " >AvgMonthlyHours:  <input type="text" name="AvgMonthlyHours" id="AvgMonthlyHours" value={{temp.AvgMonthlyHours}}></label>
                    </div>
                    <br>
                <div class="container">
                    <label class="control-label " >YearsAtCompany: &nbsp;&nbsp;&nbsp; <input type="text" name="YearsAtCompany" id="YearsAtCompany" value={{temp.YearsAtCompany}}></label>
                    </div>
                    <br>   
                <div class="container">
                    <label class="control-label " >Work_accident: &nbsp;&nbsp;&nbsp; <input type="text" name="Work_accident" id="Work_accident" value={{temp.Work_accident}}></label>
                    </div>
                    <br>                                             
            <h6 >Promotion</h6> 
            <select name="Promotion" id="Promotion">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Dep_IT</h6> 
            <select name="Dep_IT" id="Dep_IT">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Dep_RandD</h6> 
            <select name="Dep_RandD" id="Dep_RandD">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Dep_accounting</h6> 
            <select name="Dep_accounting" id="Dep_accounting">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Dep_hr</h6> 
            <select name="Dep_hr" id="Dep_hr">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Dep_management</h6> 
            <select name="Dep_management" id="Dep_management">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Dep_marketing</h6> 
            <select name="Dep_marketing" id="Dep_marketing">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Dep_product_mng</h6> 
            <select name="Dep_product_mng" id="Dep_product_mng">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            
            <h6 >Dep_sales</h6> 
            <select name="Dep_sales" id="Dep_sales">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Dep_support</h6> 
            <select name="Dep_support" id="Dep_support">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Dep_technical</h6> 
            <select name="Dep_technical" id="Dep_technical">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Sal_high</h6> 
            <select name="Sal_high" id="Sal_high">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Sal_low</h6> 
            <select name="Sal_low" id="Sal_low">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Sal_medium</h6> 
            <select name="Sal_medium" id="Sal_medium">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <br>
            <br>
                              <div class="container" style="align-items: center;"><input type="submit" value="Predict"></div>
                                
                    </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
