<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDM Predictions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    body{
		background-color: #474b4f;
	}
	.contact{
		padding: 4%;
		height: 400px;
	}
	.col-md-3{
		background: #c3073f;
		padding: 4%;
		border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        color: white;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}
</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <a class="nav-item nav-link" href="{% url 'diabindex' %}">Diabetes</a>
      <a class="nav-item nav-link" href="{% url 'liverindex' %}">Liver</a>
      <a class="nav-item nav-link" href="{% url 'churnindex' %}">Churn</a>
      <a class="nav-item nav-link" href="{% url 'recindex' %}">Recommendation</a>
      <a class="nav-item nav-link" href="{% url 'callindex' %}">CallPrediction</a>
      <a class="nav-item nav-link" href="{% url 'fraudindex' %}">FraudAnalytics</a>
    </div>
</nav>
    <div class="container contact">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <h2>HR Analytics</h2>
                    <h4>Test out our Fraud Analytics model</h4>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="alert alert-success" role="alert">
                        {{a}}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                    <div class="form-group">
                        <div class="form">
                            <form action="/hpredict" method="POST">
                              {% csrf_token %}
                              <div class="container">
                                                           
             <h6 >Efficiency low</h6> 
            <select name="efficiency_low" id="efficiency_low">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Efficiency very low</h6> 
            <select name="efficiency_verylow" id="efficiency_verylow">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Satisfaction level bin 0.00-.11</h6> 
            <select name="satisfaction_level_bin_0_11" id="satisfaction_level_bin_0_11">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Satisfaction level bin 0.92-1.0</h6> 
            <select name="satisfaction_level_bin_092_1" id="satisfaction_level_bin_092_1">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Attitude Normal</h6> 
            <select name="attitude_normal" id="attitude_normal">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Attitude Unhappy</h6> 
            <select name="attitude_unhappy" id="attitude_unhappy">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Attitude  Very happy</h6> 
            <select name="attitude_veryhappy" id="attitude_veryhappy">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Attitude Very unhappy</h6> 
            <select name="attitude_veryunhappy" id="attitude_veryunhappy">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            
            <h6 >Timespend company cat No departure</h6> 
            <select name="time_spend_company_cat_nodeparture" id="time_spend_company_cat_nodeparture">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Timespend company cat veryhigh departure</h6> 
            <select name="time_spend_company_cat_veryhighdeparture" id="time_spend_company_cat_veryhighdeparture">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Number project cat Extreme</h6> 
            <select name="number_project_cat_extreme" id="number_project_cat_extreme">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Workload Extreme</h6> 
            <select name="workload_extreme" id="workload_extreme">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Workload Normal</h6> 
            <select name="workload_normal" id="workload_normal">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <h6 >Average montly hours bin 287-310</h6> 
            <select name="average_montly_hours_bin_287_310" id="average_montly_hours_bin_287_310">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <br>
            <br>
                              <div class="container" style="align-items: center;"><input type="submit" value="Predict"></div>
                                
                    </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
